@use "utilities/colors.scss";
@use "_general";
@use "_sidemenu.scss";

.topText {
  position: relative;

  p {
    width: 75%;
  }

  .topText div {
    width: 90%;
  }
}

.list p:last-child {
  margin-top: 15px;
}

article {
  background-color: #eaeaea;
  margin-bottom: 32px;
  padding: 32px;
  position: relative;

  .topText h1 {
    font-size: 2rem;
    margin: 0;
  }

  &.compact {
    padding: 16px;
    margin-bottom: 16px;

    > div > div {
      display: none;
    }

    .logo {
      display: none;
    }

    .topText h1 {
      font-size: 1.2rem;
    }
  }
}

article img,
.description p:not(:first-child) {
  margin-top: 12px;
  margin-bottom: 0px;
}

.description {
  li {
    margin-top: 5px;
  }
  img {
    max-width: 100%;
  }
}

.experience {
  margin-top: 20px;
  display: flex;

  > div:first-child {
    margin-right: 30px;
  }

  li {
    margin-bottom: 5px;
  }
}

.logo {
  margin-top: 0;
  float: right;
  right: 0;
  max-height: 100px;
  max-width: 25%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  justify-content: center;

  img {
    margin: 0;
    position: relative;
    max-height: 90px;
    max-width: 90%;
  }
}

#article #logo {
  max-height: 80px;
  max-width: 80%;
}

.titleShort {
  width: fit-content;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

label[for="compact"] {
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

#compact {
  width: 20px;
  height: 20px;
  margin-top: -2px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid black;
  appearance: none;
  outline: none;
  cursor: pointer;

  &:checked {
    background-color: colors.$main_color;
    border: none;
  }
}

#back {
  top: 85px;
  left: 10px;
  position: fixed;
  display: flex;
  background-color: colors.$main_color;
  z-index: 1;
  border-radius: 25px;

  a {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 20px;
    color: white;
    text-decoration: none;
  }
}

#back:hover a {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  article:not(.compact) .logo {
    margin-top: 10px;
    display: block;
    float: left;
    position: relative;
    margin-bottom: 0;
    max-width: unset;
    max-height: 75px;
  }

  .topText {
    div {
      display: flex;
      flex-flow: column;
      width: 100%;
      padding-top: 0;
    }

    p {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }
}
