@use "utilities/colors.scss";
@use "utilities/variables.scss";
@use "_general";
@use "_sidemenu.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 20px;
  overflow: hidden;
}

main {
  width: 100%;
}

#chatbot-img1 {
  width: 1000px;
}

.opdracht {
  width: 90%;
  margin: 0 auto;

  > div {
    min-height: calc(100vh - variables.$top_margin * 2);
    max-height: calc(100vh - variables.$top_margin * 2);
    padding-top: variables.$top_margin;
    padding-bottom: variables.$top_margin;
    > h1 {
      font-size: 25px;
      font-weight: bold;
    }
    > h3 {
      margin-top: 8px;
    }
    ul {
      margin-top: 8px;
    }
  }
}

.scrollbar {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 2;

  li {
    list-style-type: none;
  }

  a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    float: right;
    margin-top: 10px;
    padding: 10px;
    background-color: colors.$main_color;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    width: 100%;
  }
}

.vertical-middle {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

img {
  max-width: 100%;
}
