@use "utilities/colors.scss";
main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  a {
    color: black;

    img {
      width: 10px;
      padding-bottom: 5px;
    }
  }
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  padding: 5%;
  margin-bottom: 20px;

  > div {
    width: 50%;
  }

  > img {
    width: 30%;
  }

  h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.reverse {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1200px) and (min-width: 750px) {
  section > img {
    width: 40%;
  }
}

@media only screen and (max-width: 750px) {
  section {
    display: block;

    > div {
      width: 100%;
    }

    > img {
      width: 75%;
      margin-top: 20px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
