.topText {
    position: relative;
}

.topText p {
    width: 70%;
}

.list h1 {
    margin-bottom: 0;
}

.list p:last-child {
    margin-top: 15px;
}

article div {
    padding-top: 20px;
    padding-bottom: 20px;
}

article img, .description p  {
    margin-bottom: 20px;
}

#logo {
    float: right;
    right: 0;
    max-width: 100px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.titleShort {
    white-space: nowrap;
    width: fit-content;
    text-decoration: underline;
}
.titleShort:hover{
    cursor: pointer;
    text-decoration: none;
}

label[for=compact] {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#compact {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid black;
    appearance: none;
    outline: none;
    cursor: pointer;
}

#compact:checked {
    background-color: goldenrod;
    border: none;
}

#back {
    top: 85px;
    left: 10px;
    position: fixed;
    background-color: goldenrod;
    padding: 20px;
    font-size: 1.25rem;
    z-index: 1;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

#back a {
    color: white;
    text-decoration: none;
}


.compact {
    margin-bottom: 10px;
}

.compact h1 {
    font-size: 1.5rem;
}

.compact > div > div{
    display: none;
}

.compact img {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    article:not(.compact) #logo {
        top: 20px;
        transform: translateY(0);
    }

    .topText p {
        width: 100%;
        margin-top: 20px;
    }
}