body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 125px 20px 0 20px;
}

a {
    white-space: nowrap;
}

main p {
    line-height: 1.3rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

article, form{
    border-radius: 30px;
}

article {
    background-color: #F5F5F5;
    margin-bottom: 50px;
    padding: 0 40px 0 40px;
    position: relative;
}

article h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

header {
    top: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    background-color: goldenrod;
    line-height: 75px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    z-index: 1;
}

header > * {
    width: 33.3%;
}

header > a {
    color: white;
    text-decoration: none;
    text-transform: none;
    text-align: right;
}

header > a {
    margin-right: 30px;
}

header > p {
    text-align: center;
    margin: 0;
    font-size: 2rem;
}

label, form > div {
    display: inline-block;
}

input {
    margin-right: 10px;
}

form {
    margin-bottom: 20px;
}

header > div {
    display: inline-block;
}

header > div:last-child {
    float: right;
    padding-right: 20px;
}

p {
    margin-bottom: 10px;
}

span {
    font-style: italic;
    font-weight: bold;
}

@media only screen and (max-width: 630px) {
    header > a, header > p {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 450px) {
    header > div {
        width: 10%;
    }

    header {
        justify-content: normal;
    }

    header > a {
        margin-right: 10px;
        width: 50%;
    }
}